Repository NilFoundation/placeholder, pull requests merged in 2024-12, with the labels that each got.

#170 proof-producer: fix clang warnings
  proof-producer/bin/proof-producer/include/nil/proof-generator/prover.hpp
Labels: proof-producer

#179 init RLC challenge for copy circuit
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/copy.hpp
  proof-producer/libs/assigner/CMakeLists.txt
  proof-producer/libs/assigner/include/nil/proof-generator/assigner/copy.hpp
  proof-producer/libs/preset/include/nil/proof-generator/preset/copy.hpp
  proof-producer/libs/preset/include/nil/proof-generator/preset/limits.hpp
Labels: blueprint, proof-producer

#183 proof-producer: rw & zkevm sat check fixes
  crypto3/libs/blueprint/include/nil/blueprint/bbf/enums.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/input_generators/hardhat_input_generator.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/input_generators/opcode_tester_input_generator.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/call.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/dummy.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/gas.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/mcopy.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/returndatacopy.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/returndatasize.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/staticcall.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/zkevm_opcodes.hpp
  proof-producer/libs/assigner/include/nil/proof-generator/assigner/copy.hpp
  proof-producer/libs/assigner/include/nil/proof-generator/assigner/rw.hpp
  proof-producer/libs/assigner/include/nil/proof-generator/assigner/trace_parser.hpp
  proof-producer/libs/assigner/include/nil/proof-generator/assigner/zkevm.hpp
  proof-producer/tests/bin/proof-producer/resources/traces/increment_simple.pb.bc
  proof-producer/tests/bin/proof-producer/resources/traces/increment_simple.pb.copy
  proof-producer/tests/bin/proof-producer/resources/traces/increment_simple.pb.msg
  proof-producer/tests/bin/proof-producer/resources/traces/increment_simple.pb.rw
  proof-producer/tests/bin/proof-producer/resources/traces/increment_simple.pb.zkevm
  proof-producer/tests/bin/proof-producer/test_zkevm_bbf_circuits.cpp
Labels: blueprint

#208 Config files improvements
  .clang-format
  .envrc
  .gitignore
  flake.nix
Labels: enhancement
