Repository NilFoundation/placeholder, pull requests merged in 2025-02, with the labels that each got.

#322 EXP circuit start shifted from 0 row to 1 #321
  .github/workflows/gcc-linux-nix-check.yml
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/exp.hpp
Labels: bug, blueprint

#331 zkevm circuit fix #300
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/opcodes/mul.hpp
  crypto3/libs/blueprint/include/nil/blueprint/zkevm_bbf/zkevm.hpp
Labels: blueprint

#334 multiprecision: ignore buggy -Waggressive-loop-optimizations in subtraction
  crypto3/libs/multiprecision/include/nil/crypto3/multiprecision/detail/big_uint/arithmetic.hpp
Labels: multiprecision
